@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$cor-padrao: #3db39e;
$font-padrao: 'Open Sans', sans-serif;

.dialogoContainer {
  .tituloModal {
    text-align: center !important;
    color: $cor-padrao !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    font-family: $font-padrao !important;
  }
  .MuiTableCell-root {
    font-weight: 400;
    font-family: $font-padrao !important;
    height: 20px !important;
    font-size: 14px !important;
  }
  .tableCellHeadFirst {
    color: #fff !important;
    font-size: 14px !important;
    background-color: $cor-padrao;
    font-size: 14px !important;
    font-weight: 700 !important;
  }
  .tableCellHead {
    color: #fff !important;
    background-color: $cor-padrao;
    font-size: 14px !important;
    font-weight: 700 !important;
    text-align: center;
  }
}
